{{#each q}}

        <div>

                <h2>Question {{this.questionNumber}} </h2>

                <h4>{{this.question}}</h4>

                <select class="form-control questions">

                    <option value="1">1 (Strongly Agree)</option>

                    <option value="2">2</option>

                    <option value="3">3</option>

                    <option value="4">4</option>

                    <option value="5">5 (Strongly Disagree)</option>

                </select>

            </div>

  {{/each}}